In [1]:
import pandas as pd

In [2]:
df = pd.read_json('soldtest.jl',lines=True)

In [10]:
df.shape

(603, 25)

In [14]:
df.columns

Index(['address', 'area', 'bathrooms', 'bedrooms', 'city_state', 'dates',
       'days_on_Trulia', 'events', 'lot_size', 'lot_size_units',
       'neighborhood', 'overview', 'price', 'price_history',
       'price_per_square_foot', 'prices', 'property_tax',
       'property_tax_assessment_improvements', 'property_tax_assessment_land',
       'property_tax_assessment_total', 'property_tax_assessment_year',
       'property_tax_market_value', 'url', 'views', 'year_built'],
      dtype='object')

In [22]:
df.prices.head(100)

0                                                   NaN
1                                                   NaN
2                                            [$190,000]
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11     [$175,000, $178,000, $42,000, $280,000, $34,000]
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
                            ...
70                                                  NaN
71                                                  NaN
72                                                  NaN
73                                                  NaN
74                                                  NaN
75                                                  NaN
76                                                  NaN
77                                                  NaN
78                                                  NaN
79                                                  NaN
80                                                  NaN
81                                                  NaN
82                                                  NaN
83                                                  NaN
84                                                  NaN
85                                                  NaN
86                                                  NaN
87                                                  NaN
88                                                  NaN
89    [$249,000, $260,000, $260,000, $260,000, $199,...
90                                                  NaN
91                                                  NaN
92                                                  NaN
93                                                  NaN
94                                                  NaN
95                                                  NaN
96                                                  NaN
97                                                  NaN
98                                                  NaN
99                                                  NaN
Name: prices, Length: 100, dtype: object